.container-fluid .row  .col-md8  .col-md-4 img {column-count: @count;}


ul li {list-style: none;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container-fluid .row .col-md-6 img h1 {column-count:@count;}
.container-fluid .row .col-md-4 li img {column-count:@count;}
.container-fluid .row .col-md-4 {column-count: @count:}
.container-fluid .row img {padding-left: 28%;} 
.container-fluid .navbar-header img {padding-top: -50px;}
.container-fluid .row  .col-md-4 ul li {list-style:none;}
.dropdown {font-size: 18px;}
footer img .center-block {display: block;margin-left: auto;margin-right: auto;}
footer{padding-left: 10%;}
@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }












